<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h3>Write New Chat...</h3>
    <br>
    <form method="post" action="/chats" >
        <input name="from" placeholder="Add your name">
        <br><br>
        <textarea name="msg" placeholder="Write ur msg here..."></textarea>
        <br><br>
        <input name="to" placeholder="Add Reciever">
        <br><br>
        <button>Create Chat</button>
    </form>
    
</body>
</html>